body{
    margin: 0;
    height:800px;
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    background-color: greenyellow;
    padding: 40px;
    border-radius: 8px;

}
form input,textarea{
    width:100%;
    margin: 10px 0;


}
form input{
    height: 30px;
    width: 300px;
}
